The following are image tags with an invalid image url which will trigger its <code>onerror()</code> when available,

<div>
  Added to page via triple {} - {{{htmlContent}}}
</div>
<div>
  Added to page via safeString - {{safeStringContent}}
</div>
<div>
  Added to page with dom purify - {{purify-dom htmlContent}}
</div>

<div>
  In addition to the global config, you can now additionally pass a config hash,
  {{purify-dom htmlContent config=customConfig overrideConfig=true}}
</div>
